# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Rober\Documents\1.0 ICA\Leerjaar 2\blok 3\AIM-OOSE--\OOAD\Week 5 - OO design\Les 3\observer pattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
